@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: calc(100vh - 1px);
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

img {
    width: 100%;
    display: block;
}

.card {
    width: 20rem;
    border-radius: 1.3rem;
    background-color: #fff;
    padding: 1rem;

}

.card img {
    border-radius: 0.65rem;
}

.card .text h1 {
    margin: 1.3rem auto;
    font-weight: 900;
    text-align: center;
    font-size: 1.4rem;
    color: var(--dark-blue);
}

.card .text p {
    color: var(--grayish-blue);
    text-align: center;
    margin: 0.65rem 0.8rem 1.65rem;
}


